@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Change the values in here to match your branding */
:root {
  /* Background color of the page */
  --background-color: #1c1e21;

  /* Color of the text/words */
  --text-color: #fff;

  /* Main color of your brand */
  --color-primary: #f213a4;

  /* Secondary color of your brand */
  --color-secondary: #418dff;

  /* Which font you want to use */
  --font: "Inter", sans-serif;

  /* Color of the border around items */
  --border-color: rgba(255, 255, 255, 0.5);
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var(--background-color);
  font-family: var(--font);
  color: var(--text-color);
  margin: 0;
  width:100%;
  min-height:100vh;
  text-align: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.active {
    background: rgba(255, 255, 255, 0.52);
    border-radius: 6px;
    color: #161c25 !important;
    text-shadow: 0 0 20px rgb(0 0 0 / 50%);
    text-decoration: none !important;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 7%), 0px 6px 6px rgb(0 0 0 / 4%), 0px 12px 12px rgb(0 0 0 / 3%), 0px 20px 24px rgb(0 0 0 / 3%), 0px 32px 40px rgb(0 0 0 / 2%), 0px 80px 100px rgb(0 0 0 / 16%), 0px 0px 4px rgb(0 0 0 / 8%), 0px 8px 48px rgb(0 0 0 / 8%);

}

.hover-3d {
    width: -webkit-fill-available;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: $light; 
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: $dark; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
